workflow.json
{
  "name": "Agentic Email Triage & CRM Ops (Gmail → AI Agent → Sheets/CRM/LINE/Drive)",
  "nodes": [
    {
      "id": "trigger-gmail",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [ -1200, 0 ],
      "parameters": {
        "pollTimes": { "item": [ { "mode": "everyMinute" } ] },
        "filters": { "labelIds": [ "INBOX" ] },
        "simple": false,
        "options": { "downloadAttachments": true }
      },
      "credentials": { "gmailOAuth2": { "id": "REPLACE_ME", "name": "Gmail (support inbox)" } }
    },
    {
      "id": "extract-fields",
      "name": "Extract Email Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ -960, 0 ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "name": "from", "type": "string", "value": "={{ $json.from.value[0].address }}" },
            { "name": "subject", "type": "string", "value": "={{ $json.subject }}" },
            { "name": "body", "type": "string", "value": "={{ $json.text }}" },
            { "name": "receivedAt", "type": "string", "value": "={{ $json.date }}" },
            { "name": "messageId", "type": "string", "value": "={{ $json.id }}" }
          ]
        }
      }
    },
    {
      "id": "drive-upload-attachment",
      "name": "Upload Attachment to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [ -960, 180 ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.subject + ' - ' + $json.id }}",
        "driveId": { "mode": "list", "value": "My Drive" },
        "folderId": { "mode": "id", "value": "REPLACE_WITH_DRIVE_FOLDER_ID" },
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "notes": "Runs per inbound email; no-ops (via onError) when there is no attachment_0 binary present. Uploads the first attachment only — extend with a Loop node if an email can have several.",
      "credentials": { "googleDriveOAuth2Api": { "id": "REPLACE_ME", "name": "Google Drive" } }
    },
    {
      "id": "lm-chat",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [ -900, 260 ],
      "parameters": { "model": "gpt-4o-mini", "options": { "temperature": 0.2 } },
      "credentials": { "openAiApi": { "id": "REPLACE_ME", "name": "OpenAI" } }
    },
    {
      "id": "memory-buffer",
      "name": "Conversation Memory (per sender)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [ -760, 260 ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Email Fields').item.json.from }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "vector-tool",
      "name": "Company KB Search (RAG tool)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [ -620, 260 ],
      "parameters": {
        "mode": "retrieve-as-tool",
        "qdrantCollection": { "value": "company-kb", "mode": "list" },
        "toolName": "search_company_kb",
        "toolDescription": "Search internal FAQ, pricing, and policy documents to ground answers before replying to a customer. Always check this before answering a factual question.",
        "topK": 4
      },
      "credentials": { "qdrantApi": { "id": "REPLACE_ME", "name": "Qdrant (KB)" } }
    },
    {
      "id": "embeddings",
      "name": "Embeddings (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [ -620, 420 ],
      "parameters": { "model": "text-embedding-3-small" },
      "credentials": { "openAiApi": { "id": "REPLACE_ME", "name": "OpenAI" } }
    },
    {
      "id": "crm-tool",
      "name": "CRM Lookup (tool)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [ -480, 260 ],
      "parameters": {
        "toolDescription": "Look up an existing CRM contact/deal by email address before drafting a reply, so the agent knows account history and open tickets.",
        "method": "GET",
        "url": "={{ $env.CRM_WORKER_BASE_URL + '/v1/contacts/lookup' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [ { "name": "email", "value": "={{ $fromAI('email') }}" } ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_ME", "name": "CRM API Key" } }
    },
    {
      "id": "output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [ -340, 420 ],
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"billing | technical | sales | complaint | spam\",\n  \"priority\": \"urgent | standard\",\n  \"summary\": \"one-sentence summary for the ops log\",\n  \"suggested_reply\": \"a drafted reply in the customer's language, grounded in KB/CRM lookups, or empty string if priority is urgent and a human should write it\",\n  \"needs_human\": true\n}"
      }
    },
    {
      "id": "ai-agent",
      "name": "AI Agent - Triage & Draft",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [ -700, 0 ],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'New inbound email.\\nFrom: ' + $json.from + '\\nSubject: ' + $json.subject + '\\nBody:\\n' + $json.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the triage agent for a services company's shared inbox. For every email: (1) classify category and priority, (2) use search_company_kb for any factual/policy question before answering, (3) use the CRM lookup tool to check if the sender is an existing customer and whether they have open tickets, (4) if priority is 'urgent' (angry customer, payment failure, security concern, or explicit escalation request) do NOT draft a reply yourself — set needs_human=true and leave suggested_reply empty so a person handles it, (5) otherwise draft a concise, polite reply in the same language as the incoming email, grounded only in what the KB/CRM tools returned — never invent policy details. Always return the structured JSON schema exactly."
        }
      }
    },
    {
      "id": "route-priority",
      "name": "Route by Category/Priority",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [ -440, 0 ],
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "urgent", "conditions": { "conditions": [ { "leftValue": "={{ $json.output.priority }}", "rightValue": "urgent", "operator": { "type": "string", "operation": "equals" } } ] } },
            { "outputKey": "spam", "conditions": { "conditions": [ { "leftValue": "={{ $json.output.category }}", "rightValue": "spam", "operator": { "type": "string", "operation": "equals" } } ] } },
            { "outputKey": "standard", "conditions": { "conditions": [ { "leftValue": "={{ $json.output.priority }}", "rightValue": "standard", "operator": { "type": "string", "operation": "equals" } } ] } }
          ]
        },
        "options": { "fallbackOutput": "standard" }
      }
    },
    {
      "id": "log-sheet",
      "name": "Log to Ops Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ -160, -160 ],
      "parameters": {
        "operation": "append",
        "documentId": { "value": "REPLACE_WITH_SHEET_ID", "mode": "id" },
        "sheetName": { "value": "Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "from": "={{ $('Extract Email Fields').item.json.from }}",
            "subject": "={{ $('Extract Email Fields').item.json.subject }}",
            "category": "={{ $json.output.category }}",
            "priority": "={{ $json.output.priority }}",
            "summary": "={{ $json.output.summary }}",
            "needs_human": "={{ $json.output.needs_human }}",
            "attachment_link": "={{ $('Upload Attachment to Drive').item?.json?.webViewLink ?? '' }}"
          }
        }
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_ME", "name": "Google Sheets" } }
    },
    {
      "id": "gmail-draft",
      "name": "Create Gmail Draft Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [ -160, 40 ],
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "={{ 'Re: ' + $('Extract Email Fields').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.suggested_reply }}",
        "options": { "threadId": "={{ $('Extract Email Fields').item.json.messageId }}" }
      },
      "credentials": { "gmailOAuth2": { "id": "REPLACE_ME", "name": "Gmail (support inbox)" } }
    },
    {
      "id": "crm-ticket",
      "name": "Create CRM Ticket (urgent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -160, 220 ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_WORKER_BASE_URL + '/v1/tickets' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "email", "value": "={{ $('Extract Email Fields').item.json.from }}" },
            { "name": "subject", "value": "={{ $('Extract Email Fields').item.json.subject }}" },
            { "name": "summary", "value": "={{ $json.output.summary }}" },
            { "name": "priority", "value": "high" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_ME", "name": "CRM API Key" } }
    },
    {
      "id": "line-notify",
      "name": "Notify Ops Team (LINE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -160, 380 ],
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $env.LINE_OPS_GROUP_ID, messages: [ { type: 'text', text: 'Urgent email from ' + $('Extract Email Fields').item.json.from + ': ' + $json.output.summary } ] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_ME", "name": "LINE Channel Access Token" } }
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [ [ { "node": "Extract Email Fields", "type": "main", "index": 0 }, { "node": "Upload Attachment to Drive", "type": "main", "index": 0 } ] ] },
    "Extract Email Fields": { "main": [ [ { "node": "AI Agent - Triage & Draft", "type": "main", "index": 0 } ] ] },
    "OpenAI Chat Model": { "ai_languageModel": [ [ { "node": "AI Agent - Triage & Draft", "type": "ai_languageModel", "index": 0 } ] ] },
    "Conversation Memory (per sender)": { "ai_memory": [ [ { "node": "AI Agent - Triage & Draft", "type": "ai_memory", "index": 0 } ] ] },
    "Embeddings (OpenAI)": { "ai_embedding": [ [ { "node": "Company KB Search (RAG tool)", "type": "ai_embedding", "index": 0 } ] ] },
    "Company KB Search (RAG tool)": { "ai_tool": [ [ { "node": "AI Agent - Triage & Draft", "type": "ai_tool", "index": 0 } ] ] },
    "CRM Lookup (tool)": { "ai_tool": [ [ { "node": "AI Agent - Triage & Draft", "type": "ai_tool", "index": 0 } ] ] },
    "Structured Output Parser": { "ai_outputParser": [ [ { "node": "AI Agent - Triage & Draft", "type": "ai_outputParser", "index": 0 } ] ] },
    "AI Agent - Triage & Draft": { "main": [ [ { "node": "Route by Category/Priority", "type": "main", "index": 0 } ] ] },
    "Route by Category/Priority": {
      "main": [
        [ { "node": "Log to Ops Sheet", "type": "main", "index": 0 }, { "node": "Create CRM Ticket (urgent)", "type": "main", "index": 0 }, { "node": "Notify Ops Team (LINE)", "type": "main", "index": 0 } ],
        [ { "node": "Log to Ops Sheet", "type": "main", "index": 0 } ],
        [ { "node": "Log to Ops Sheet", "type": "main", "index": 0 }, { "node": "Create Gmail Draft Reply", "type": "main", "index": 0 } ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
